/* Header Info for Service page
Author: Marcello Nunes Bernardes
Web site name: https://mnunesb.github.io/index.html
File description: Style page for the contac page */

/*nav bar*/
.logo{
    height: 50px;
    padding-right: 20px;
}
header{
    height: 10vh;
}

/*Background implementation*/
body{
    margin-top: 0;
    background-image: url(/assets/bg.jpg);
    height:80vh;
}
.main-content{
    display: flex;
    flex-wrap: wrap;

    padding: 20px 30px 20px 20px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    
}
.images img{
    border: 2px black solid;
    margin: 20px;
    max-height: 400px;
    max-width: 400px;
}
